.card.companies{
    width: 100%;
}
label{
    font-weight: bold;
    margin: 0;
}
.row{
    display: flex;
    justify-content: center;
}
.col-md-4.companies{
    padding: 0;
}
.card-header{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.card-title{
    margin: 0;
}
.button-back{
    border: 0;
    background-color:lightgrey;
    padding: 5px;
}
.cross-button{
    border: 0;
}
.cross-icon{
    height: 16px;
}
.title{
    font-weight: bold;
    font-size: 26px;
    color: gray;
}
.card{
    margin: 5px;
}
.detail{
    margin-top: 5px;
}
.button{
    background-color: lightgray;
    border: 0;
}