label{
    font-weight: bold;
    margin: 0;
}
.row{
    display: flex;
    justify-content: center;
}
.col-md-4.companies{
    padding: 0;
}
.card-header{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.card-title{
    margin: 0;
}
.cross-icon{
    height: 16px;
}
.title{
    font-weight: bold;
    font-size: 26px;
    color: gray;
}
.card{
    margin: 5px;
}
.detail{
    margin-top: 5px;
}
.form-button{
    display: flex;
    justify-content: center;
}
.button{
    background-color: lightgray;
    border: 0;
}
.button.create{
    padding: 5px;
    width: 15rem;
}